Security.cs*
REVDemo.keystore

# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library
*.orig

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

obj
/vs2010/TestResults
*.user
*.suo
_ReSharper.REV
bin
Unity/Assets/REVDemo.cs
Unity/Assets/REVDemo.cs.meta
.idea
Unity/buildscripts/logs/
Unity/logs
Unity/buildscripts/local_config.py
Unity/Assets/StreamingAssets/crashlytics-build.properties
REVRuntime.pdb
REVRuntime.pdb.meta
Unity/Assets/StreamingAssets/crashlytics-build.properties.meta
Unity/Assets/REVDemo.keystore.meta
